<%- include ("partials/_header.ejs") %>

<div class="container mt-5">
    <div class="row mt-12">
        <div class="col-md-12">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Cliente</th>
                        <th>Pendiente</th>
                        <th>Fecha de Creación</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>





<%- include ("partials/_footer.ejs") %>